.pricing{
    max-height: 700px;
    .container{
        max-width:1370px;
    }
    &-head{
        padding-top: 165px;
        text-align: center;
        align-items: center;
        font-weight: 600;
        font-size: 48px;
        line-height: 80px;
        color: black;
    }
    &__blocks{
        margin: 15px;
        padding-top: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-head{
            padding-top: 20px;
            font-weight: 600;
            font-size: 30px;
            line-height: 48px;
            color: #263238;
        }
        &-descr{
            display: block;
            max-height: 200px;
            max-width: 400px;
            padding-top: 20px;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            color: #8f95a5;
        }
        &-prices{
            padding-left: 12px;
            margin-top: 50px;
            max-width: 240px;
            max-height: 45px;
            font-weight: 400;
            font-size: 30px;
            line-height: 45px;
            color: #263238;
            border-radius:5px;
            background-color: #eeeeee;
            span{
                padding-left: 10px;
                position: absolute;
                float: top;
                font-weight: normal;
                font-size: 18px;
                line-height: 27px;
                color: #546269;
            }
        }
        &-item{
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        &-items{
            height: 340px;
        }

    }
}

@media(max-width:992px){
    .pricing{
        &-head{
        font-weight: 600;
        font-size: 36px;
        line-height: 80px;
        }
        &__blocks{
            margin: 0;
            &-list{
                max-height: 552px;
            }

            &-head{
                height: 60px;
                padding: 0;
                font-weight: 600;
                font-size: 22px;
                line-height: 34px;
            }
            &-descr{
                padding: 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px
            }
            &-items{
                max-width: 250px;
                max-height: 250px;
            }
            &-item{
                width: 100%;
            }
            &-prices{
                margin: 10px 0 0 0;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                span{
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media(max-width:767px){
    .pricing{
        &-head{
        padding-top: 130px;
        font-weight: 600;
        font-size: 30px;
        line-height: 80px;
        }
        &__blocks{
            padding-top: 20px;
            margin: 0;
            justify-content: space-between;
            &-list{
                max-height: 450px;
                &:not(:last-child){
                margin-right: 10px;
                }
            }

            &-head{
                height: 60px;
                padding: 0;
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
            }
            &-descr{
                padding: 0;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                height: 100px;
                justify-content: space-between;
            }
            &-items{
                max-width: 200px;
                max-height: 200px;
            }
            &-item{
                width: 100%;
            }
            &-prices{
                margin: 10px 0 0 0;
                font-weight: normal;
                font-size: 22px;
                line-height: 33px;
                max-width: 205px;
                max-height: 45px;
                span{
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }
    }
}

@media(max-width:575px){
    .pricing{
        max-height: 1900px;
        &-head{
            font-weight: 600;
            font-size: 30px;
            line-height: 80px;
        }
       &__blocks{
           display: block;
           &-list:not(:last-child){
            margin-right: 0;
            margin-bottom: 70px;
           }
           &-items{
               margin: 0 auto 0 auto;
           }
           &-head{
               text-align: center;
               font-weight: 600;
               font-size: 24px;
               line-height: 28px;
               max-height: 50px;
           }
           &-descr{
               text-align: center;
               margin: 0 auto 0 auto;
               font-weight: normal;
               font-size: 14px;
               line-height: 21px;
               max-height: 60px;
           }
           &-prices{
               margin: 0 auto 0 auto;
               font-weight: normal;
               font-size: 22px;
               line-height: 33px;
               span{
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
               }
           }
       }
    }
}

@media(max-width:320px){
    .pricing{
        padding-top: 700px;
        h1{
            font-weight: 600;
            font-size: 24px;
            line-height: 80px;
        }
        h2{
            font-weight: 600;
            font-size: 18px;
            line-height: 28px;

        }
        .pricing__blocks-descr {
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            text-align: center;

        }
        .pricing__blocks-prices {
            max-width: 170px;
            max-height: 37px;

            margin-top: 20px;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            span{
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;

            }
        }
        .pricing__blocks-list{
            &:not(:last-child){
                margin-right: 0;
                margin-bottom: 40px;
               }
        }
    }
}